
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');

/* ELEMENTS  18 e 24*/

* {
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-size: 18px;
}

header {
    height: 98px;
    background-color: #38AF90;
    width: 100%;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #fff;
}

/* CLASSES E IDS */

.container {
    width: calc(100% - 20px);
    max-width: 990px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.profile {
    display: flex;
    align-items: center;
}

.profile a {
    margin-right: 19px;
    font-size: 14px;
    font-weight: 500;
}

.header-image img {
    width: 62px;
}

.header-image {
    margin: 14px 0;
}

.header-title {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    padding: 32px 0;
}


#last-news {
    font-size: 16px;
}

.card-news {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-news h1 {
    text-align: center;
    font-size: 1.333rem;
    color: #797979;
    margin: 40px 0 8px 0;
}

.card-content {
    background-color: #F0F0F0;
    width: 100%;
    border-radius: 8px;
    padding: 13px;
    margin-bottom: 28px;
}


.header-card-content {
    border-bottom: 1px solid #38AF90;
}

.header-card-content h2 {
    font-size: 0.667rem;
    color: #38AF90;
    font-weight: 700;
    margin-bottom: 3px;

}

.header-card-content p {
    font-size: 0.667rem;
    color: #797979;
    font-weight: 700;
}

.card-content-data {
    font-size: 10px;
    color: #38AF90;
    margin-bottom: 12px;
}

.card-content-text {
    font-size: 10px;
    color: #797979;
    margin-bottom: 20px;
}

.card-content-read {
    font-size: 14px;
    color: #DD7E92;
    font-weight: 700;
}

.saiba-mais {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #DD7E92;
    width: 244px;
    padding: 20px 54px;
    border-radius: 8px;
    margin-bottom: 60px;
}

/* GAMES */

#games {
    background-color: #F0F0F0;
    padding-top: 36px;
}


#games h1 {
    font-size: 1.333rem;
    color: #38AF90;
    font-weight: 700;
    text-align: center;
    margin-bottom: 13px;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.games-card {
    width: 300px;
    background-color: #fff;
    margin: 15px;
    border-radius: 8px;
}

.games-image {
    margin-bottom: 28px;
}

.games-image img {
    width: 100%;
    border-radius: 8px;
   
}

.games-card h2 {
    font-size: 18px;
    font-weight: 700;
    color: #797979;
    text-align: center;

}

.games-description {
    color: #797979;
    text-align: center;
    font-size: 14px;
}

.games-card span {
    color: #38AF90;
    font-weight: 700;
}

.games-nota {
    font-size: 36px;
    font-weight: 700;
    color: #38AF90;
    text-align: center;
    margin: 15px 0;
}

/* SUBSCRIPTION */

.enrollment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enrollment-title {
    text-align: center;
    font-size: 1.333rem;
    font-weight: 700;
    color: #797979;
    margin: 40px 0 16px 0;
}

.enrollment-box {
    background-color: #F0F0F0;
    width: 100%;
    border-radius: 8px;
    padding: 52px 0 33px 0;
    max-width: 790px;
    margin-bottom: 40px;
}

.form-container {
    max-width: 642px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.form-container form {
    width: calc(100% - 20px);
}

.form-enrollment input {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 5px;
}


.form-details input {
    width: 23px;
}

.form-details p {
    font-size: 16px;
    color: #797979;
}

.form-details label {
    font-size: 16px;
    color: #797979;
}

.form-checkbox {
    margin-top: 35px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
}

.send {
    background-color: #DD7E92;
    color: #fff;
    margin-bottom: 20px;
}

.clear {
    background-color: #fff;
    color: #DD7E92;
    border: 2px solid #DD7E92;
}

.buttons-area {
    width: 244px;
    height: 67px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;

}

/* FOOTER */

footer {
    background-color: #383838;
}

.footer-content {
    min-height: 190px;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content div {
    margin: 37px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;

}

.footer-links a{
    display: block;
}

@media(max-width: 767px) {
    
    .profile a {
        display: none;
        visibility: hidden;
    }
}

@media(max-width: 679px) {
    .games-card {
        width: 100%;
        max-width: 679;
    }

}

@media(min-width: 768px) {

    html, body {
        font-size: 24px;
    }

    .card-news h1 {
        margin: 40px 0 40px 0;
    }

    #games h1 {
        margin-bottom: 60px;
    }

    .enrollment-title {
        margin: 40px 0 40px 0;
    }

    .enrollment-box {
        margin-bottom: 61px;
    }

}